<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Controller\Address\FormPost" type="Rokanthemes\Customaddress\Controller\Address\FormPost" />
    <preference for="Magento\Customer\Controller\Address\Delete" type="Rokanthemes\Customaddress\Controller\Address\Delete" />
</config>