<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="careshop" translate="label" sortOrder="100">
            <label>Careshop</label>
        </tab>
        <section id="community" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Community</label>
            <tab>careshop</tab>
            <resource>Careshop_Community::config_community</resource>
            <group id="default" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Default</label>
                <field id="cms_home_page" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>CMS Home Page</label>
                    <source_model>Magento\Cms\Model\Config\Source\Page</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
